h1 {
    text-align: center;
}

p {
    margin: 10px 0;
    text-align: center;
}

#result-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    color: #2b373d;
    margin: 0;
    padding: 20px;
}

#question-container {
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #f15b5b;
}

a:hover {
    text-decoration: underline;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #2b373d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1f282c;
}

#progress-container {
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}

#progress-bar {
    height: 20px;
    background: #2b373d;
    width: 0%;
    transition: width 0.3s ease;
}

#reset-button {
    background-color: #f10e21;
}

#reset-button:hover {
    background-color: #b40f1c;
}
